:root {
  --transition: all 300ms ease-in-out;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  transition: transform 0.5s ease;
}
p {
  text-align: justify;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  pad: 0 2rem;
}
body {
  font-size: 1.6rem;
  font-family: serif;
  line-height: 1.6;
  background-color: #eee;
}
.topnav {
  background-color: #eee;
  margin-bottom: 2rem;
}

.topnav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
a {
  text-decoration: none;
  color: black;
}
.topnav nav a {
  display: flex;
  padding: 0 1rem;
  text-shadow: 0px 2px black;
  transition: transform 330ms ease-in-out;
}
a:hover {
  transform: scale(1.2);
}
.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerTitle h1 {
  font-size: 3rem;
  font-weight: 600;
}
.mainTitle {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.about-left {
  flex: 50%;
}
.about-left img {
  width: 100%;
  display: block;
  border-radius: 10%;
}
.about-right {
  flex: 50%;
  border-radius: 10%;
}
.aboutMe-content {
  display: flex;
  width: 100%;
}

.about-right h2 {
  display: flex;
  justify-content: center;
}
.about-right .title {
  margin-bottom: 1rem;
}
.about-right .lead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lead p {
  display: flex;
  padding: 0 2rem;
  text-indent: 1rem;
}
section {
  margin-bottom: 2rem;
  background-color: white;
  padding-bottom: 1rem;
}
footer {
  display: flex;
  align-items: center;
  background-color: #eee;
}
.footerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.bottomnav nav a {
  padding: 0 1rem;
  transition: transform 330ms ease-in-out;
}
